# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# IDE files
*.iml
.idea/
*.hprof

# Kotlin/Java
*.class
*.jar
*.war
*.ear

# Android
captures/
outputs/
*.apk
*.ap_
*.aab

# Misc
.DS_Store
*.log
*.tmp

# IntelliJ
out/

